/* TaskContainer.css */

.task-container {
  width: 350px;
  height:500px;
  padding: 20px;
  box-sizing: border-box;
  border: 2px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 10px;
  transition: transform 0.3s ease-in-out;
  overflow: auto;
}

.task-container:hover {
  transform: scale(1.05);
}

.task-container h2 {
  margin-bottom: 20px;
  font-size: 1.5rem;
  color: #333;
}

